.midle_block{
    display:flex;
    margin:30px;
}

.look_text {
    font-family: coolsville;
    font-size:150%;
}

.gallery {
    width: 1000px;
    position: relative;
    display: flex;
    margin-left: 100px;
    width: 100%;
}

.slide {
    height: 400px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    transition: all 500ms ease-in-out;
}

.txt_slide {
    color: #0a0a0a;
    width: 150px;
    height: 60px;
    background-color: #674bb3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide > .txt_slide {
    border-radius: 20px;
    transform: rotate(-90deg) translate(-150px, 0);
    transition: all 0.5s ease-in 0.4s;
}

.slide.active{
    flex:7;
}

.slide.active > .txt_slide{
    border-radius: 20px 0 20px 0;
    transform:rotate(0);
    transition:all 0.3s ease-in 0.4s;
}

.find_prof{
    display:flex;
    position:absolute;
    margin-top:300px;
}

.findbl {
    height: 60px;
    width: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.go {
    height: 60px;
    width: 60px;
    background-color: #674bb3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:120%;
    cursor:pointer;
}

.go:hover{
    transform:rotate(-360deg);
    transition:all 500ms linear;
}

.lookup{
    opacity:0.3;
}

