body {
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #f5ebeb;
    height: 100vh;
    width: 1400px;
    margin-top: 50px;
    border-radius: 20px;
}

.avtorizate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5ebeb;
    height: 600px;
    width: 800px;
    border-radius: 20px;
}